<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790507994307-j4njmsrg67lhtvb3id6dajlu62k6reqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790507994307-j4njmsrg67lhtvb3id6dajlu62k6reqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790507994307-4950uu6ebtf5oa8dfmo2ns3otf3h2tn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCa0UrySOFnxWC9tyZ1yferVTeG8cO0kek</string>
	<key>GCM_SENDER_ID</key>
	<string>790507994307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinfire</string>
	<key>PROJECT_ID</key>
	<string>signin-efc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-efc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790507994307:ios:6e93f52ca9fc23fff47676</string>
</dict>
</plist>